$primary-color: #121621;
$primary-color-05: rgba(18, 22, 33, 0.5);

$secondary-color: #635bff;
$grey-color: #666666;
$white: #fff;
$success-color: #63d463;
$error-color: #ff0000;

$transition: all 0.3s ease-in-out;
$rounded-gentle: 0.4rem;
